.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  position: relative;
  /* The container determains the size. */
  width: auto;
  height: auto;
}
.loading-overlay {
  /* We'll render the overlay on top of the Unity Application. */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
  /* We'll set the following Flex properties in order to center the text. */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > .unity {
  /* The Unity Application matches it size to the container. */
  width: 100%;
  height: 100%;
}

.loginButton {
  width: 368px;
  height: 474px;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  border-radius: 6px;
  color: #161518;
  background-color: white;
  border: 2px dotted pink;
}

.loginButtonGuest {
  border: 2px  dotted lightblue;
}
.loginButtonConnetWallet {
  border: 2px dotted white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Utility classes I want to override everything else. - Wesley Williams*/

.h-screen {
  height: 100vh;
}
.h-full {
  height: 100%;
}

.bg-barscene {
  background-size:  cover;
}
.bg-barscene {
  background-image: url('../public/background.jpg');
	background-size: cover;
	background-position: 28% 40%;
	background-repeat: no-repeat;
}